
{% extends 'base.html' %}
{% block title %} Edit Profile {% endblock %}
{% block content %}
<h2>Edit your profile</h2>

<form class="form" method="post">

    <div class="inputBox">

        <input type="text" name="newUsername"> <i>Username</i>

    </div>
    <div class="inputBox">

        <input type="password" name="newPassd"> <i>New password</i>

    </div>

    <div class="inputBox">

        <input type="password" name="cnfPassd"> <i>Confirm password</i>

    </div>

    <div class="inputBox">

        <input type="submit" value="Envoyer">

    </div>

</form>
{% endblock %}
