{% extends 'base.html' %}
{% block title %} Modification de mot de passe {% endblock %}
{% block content %}
<h2>Salut {{ username }} - Modifiez votre mot de passe</h2>

<form class="form" method="post">

    <div class="inputBox">

        <input type="password" name="oldPassd" required> <i>Ancien Mot de Passe</i>

    </div>
    <div class="inputBox">

        <input type="password" name="newPassd" required> <i>Nouveau Mot de Passe</i>

    </div>

    <div class="inputBox">

        <input type="password" name="cnfPassd" required> <i>Confirmez le Mot de Passe</i>

    </div>

    <div class="inputBox">

        <input type="submit" value="Envoyer">

    </div>

</form>
{% endblock %}
